body {
    font-family: "Montserrat", sans-serif;
    background: #e5e5e5;
}
.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

aside {
    width: 370px;
    background: #1e2939;
}

.cv-foto {
    margin-top: 25px;
}

.certyfikat-foto {
    width: 50%;
    margin: 10px;
    margin-left: 44px;
    display: flex;
    justify-content: center;
    border-style: groove;
    border-color: #b5c9f3;
    background: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.header-secondary {
    color: #ffffff;
}

.contact-links {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}
.bold {
    font-weight: 700;
}
.list-secondary {
    color: #fb6d3a;
    font-size: 14px;
    line-height: 24px;
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}
.list-secondary-item {
    color: #ffffff;
}
.contact-block {
    margin-top: 51px;
    margin-left: 40px;
}
.tech-skills-block {
    margin-top: 47px;
    margin-left: 40px;
}
.soft-skills-block {
    margin-top: 44px;
    margin-left: 40px;
}
.certificates-block {
    margin-top: 44px;
    margin-left: 40px;
}
.language-block {
    margin-top: 44px;
    margin-left: 40px;
}
.intrests-block {
    margin-top: 44px;
    margin-left: 40px;
}
main {
    padding: 102px 88px 102px 88px;
}
.main-description {
    width: 400px;
    margin-bottom: 40px;
}
.job-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
}
.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.projects {
    width: 485px;
    margin-bottom: 51px;
}
.list-primary {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding-left: 0;
    list-style-position: inside;
}
.list-primary-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-decoration: none;
}
.header-primary {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 12px;
}
.job-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.highlight {
    color: #fb6d3a;
}

.dates {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
}
.job-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.education {
    margin-top: 43px;
    margin-bottom: 43px;
}
.university {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fb6d3a;
    margin-bottom: 11px;
}
.major {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
